.button {
  padding: 20px;
  font-size: 12pt;
  width: 200px;
  margin: 10px 40px;
  background-color: #f69454;
  color: white;
  display: inline-block;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
