.header{
  display: flex;
  flex-direction: column;
  background-color: #739f3d;
}

.main-title{
  font-weight: 900;
  font-size: 36pt;
}

.App {
  background: url('../../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  height: 100vh

}

.main-title, 
.quote {
  margin: 0;
  color:white;
  display: flex;
  justify-content: center;
}]

.quote {
  padding: 10px;
  font-weight: bolder;
}

hr {
  color: white;
}


.button {
  padding: 20px;
  font-size: 12pt;
  width: 200px;
  margin: 10px 40px;
  background-color: #f69454;
  color: white;
  justify-items: center;
}

.main {
  display: flex;
  justify-content: center;
}